
a {
	color: blue;
    padding: .8rem;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}

body {
	font-family: sans-serif;
	margin: auto;
	background-color: #eaedca;
	/* color: grey; */
}

.navigation {
	text-align: center;
    /* line-height: 2; */
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    background-color: #9e9e9ebf;
}

.page1, .page2, .page3 {
    margin-left: 4rem;
    margin-right: 4rem;
}

/* div {padding: 3ch} */

.page1 {
    background-color: #e2e2b2;
}
header, footer, .titlebar {
    text-align: center;
}
header {
  width: 80%;
}
footer {
  margin-top: 40px;
  /* position: relative; */
  width: 70%;
}
.titlebar {
    padding-top: 1rem;
}

.answers {
  margin-left: 50px;
}

h3 {
  margin-top: 2px;
}

.graphiccontainer, .answers, .questions {
    padding: 2ch;
}
.graphiccontainer {
    right: 2rem;
    bottom: -4rem;
    position: absolute;
}

.page2 {
    background-image: url("flag-us-tiling-background.jpg");
    background-repeat: repeat;
}
.content{
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.page3 {
    background-color: #b4f1f9;
}

.linktable {
    background-color: yellow;
}