<!doctype html>
<head>
	<title>Flask Portfolio</title>
<!--	<script src="/static/base.js"></script>    -->
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
	<h1 class="titlebar" title="This is the base for all the pages">Flask pseudo portfolio</h1>
	<nav class=navigation>
        <a href="/">Basic Static Page</a>
        <a href="/2">Flashy Static Page</a>
    	<a href="/3">Searchable Resource Links</a>
    </nav>

    {% block content %}{% endblock %}
</body>
