{% extends "base.html" %}
{% block content %}
    <div class='page1'>
        <header>
    <!--        <h1>M3 Consulting</h1>-->
            <h1>Take back your Digital Freedom!</h1>
        </header>
        <div class="questions">
            <ul>
                <li>Did you ever think your PC has a mind of its own, and you are not really in control of it?</li>
                <li>Does your PC upgrade itself whenever it feels like it, even when you turn auto-upgrade off?</li>
                <li>Are you comfortable with your PC operating system recording everything you do <br> and sending it to a server somewhere without your knowledge or consent?</li>
            </ul>
        </div>
        <div class="answers">
            <p>There is another option!<br>
            Free and Open Source Software; FOSS<br>
            and the Linux operating system<br><br>
            M3 Consulting will help you convert your PC to the freedom of choice and Open Source<br><br>
            phone: 603.801.2853 or email: m3consulting@pm.me</p>
        </div>

        <footer>
            <img src="static/ConsultLogo.png" alt="M3 Consulting Logo">
            <h3>THE INTERWEBS RUN ON LINUX<br>
                Your computer should too</h3>
        </footer>

        <div class="graphiccontainer">
            <img class="fungraphic" src="static/LinuxRoot.png" alt="Fun Graphic">
        </div>
    </div>

{% endblock content %}
