{% extends "base.html" %}
{% block content %}
    <div class='page2'>

        <div class="content">
    <!--    <h1 style="text-align: center">HomeSmarts</h1>-->
          <img src="static/Animation1.gif">
    <!--      <h1>HomeSmarts</h1>-->
          <p>Break free of big tech and restore your digital freedom with free and open source software</p>
        </div>
        <br>
        <!-- Slideshow container -->
        <div class="slideshow-container">

          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <div class="numbertext">1 / 6</div>
            <!-- image name and settings here -->
            <img src="static/learn_foss.jpg" style="width:600px">
            <div class="text">Caption One</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">2 / 6</div>
            <!-- image name and settings here -->
            <img src="static/crush_globalists.jpg" style="width:600px">
            <div class="text">Caption Two</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">3 / 6</div>
            <!-- image name and settings here -->
            <img src="static/take_control.jpg" style="width:600px">
            <div class="text">Caption Three</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">4 / 6</div>
            <!-- image name and settings here -->
            <img src="static/windows_spying.jpg" style="width:600px">
            <div class="text">Caption Four</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">5 / 6</div>
            <!-- image name and settings here -->
            <img src="static/mainstream_tech.jpg" style="width:600px">
            <div class="text">Caption Five</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">6 / 6</div>
            <!-- image name and settings here -->
            <img src="static/open_source_not_spy.jpg" style="width:600px">
            <div class="text">Caption Six</div>
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
          <span class="dot" onclick="currentSlide(6)"></span>
        </div>

        <div class="content">
          <a href="https://jeff.pro/" target="_blank">Visit Jeff.pro</a>
        </div>

        <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 5000); // Change image every 5 seconds
        }
        </script>


    </div>
{% endblock content %}
